.title
{
    padding: 17rem 3rem 2rem 20rem;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    
}

.all
{

    background-image: linear-gradient(to top, #F9F9F9, #CDF0EA, #F9F9F9);
}

.titlePara{
    padding: 2rem 10rem 4rem 10rem ;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
}

.infoPara{
    padding: 3rem 0 2rem 0rem;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;

}

.midi{
    padding: 8rem 4rem 8rem 4rem;
}

.smart1{
    max-width: 100%;
    height: 80%;
    padding-left: 2.5rem;
}

.smart2{
    max-width: 100%;
    height: 80%;
    padding-left: 6rem;
    
}

.colAlign1{
    padding: 2rem 1rem 2rem 1rem;
}

.card-header{
    font-family: 'Oswald', sans-serif;
}

.card-text{
    font-weight: bolder;
}
nav{
    display:flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.678);
}
nav img{
    width:150px;
}
.nav-links{
    /* flex:    ; */
    text-align: right;
    display: inline-block   ;
    left: 50%;  
    right: 0;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}