.title
{
    padding: 17rem 3rem 2rem 20rem;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    
}

.all
{

    background-image: linear-gradient(to top, #F9F9F9, #CDF0EA, #F9F9F9);
}

.titlePara{
    padding: 2rem 10rem 4rem 10rem ;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
}

.infoPara{
    padding: 3rem 0 2rem 0rem;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;

}

.midi{
    padding: 8rem 4rem 8rem 4rem;
}

.smart1{
    max-width: 100%;
    height: 80%;
    padding-left: 2.5rem;
}

.smart2{
    max-width: 100%;
    height: 80%;
    padding-left: 6rem;
    
}

.colAlign1{
    padding: 2rem 1rem 2rem 1rem;
}

.card-header{
    font-family: 'Oswald', sans-serif;
}

.card-text{
    font-weight: bolder;
}